<aside id="sidebar"
    class="fixed top-0 left-0 z-20 flex flex-col flex-shrink-0 w-64 h-full pt-16 font-normal duration-75 lg:flex transition-width"
    aria-label="Sidebar">
    <div class="relative flex flex-col flex-1 min-h-0 pt-0 border-r border-gray-200">
        <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
            <div class="flex-1 px-3 space-y-1 divide-y divide-gray-200">
                <ul class="pb-2 flex flex-col space-y-5">

                    <li>
                        <a href="{% url 'user_dashboard' %}"
                            class="flex items-center p-2 text-white rounded-lg hover:bg-gradient-to-t from-violet-600 to-purple-800 group">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                            </svg>
                            <span class="ml-3" sidebar-toggle-item>Dashboard</span>
                        </a>
                    </li>

                    {% if not request.user.is_superuser %}
                    <!-- <li>
                        <a href=""
                            class="flex items-center p-2 text-white rounded-lg hover:bg-gradient-to-t from-violet-600 to-purple-800 group">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                            </svg>
                            <span class="ml-3" sidebar-toggle-item>Trade</span>
                        </a>
                    </li> -->

                    <li>
                        <a href="{% url 'user_wallet' %}"
                            class="flex items-center p-2 text-white rounded-lg hover:bg-gradient-to-t from-violet-600 to-purple-800 group">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                            </svg>
                            <span class="ml-3" sidebar-toggle-item>Wallet</span>
                        </a>
                    </li>

                    <li class="order-last">
                        <a href=""
                            class="flex items-center p-2 text-white rounded-lg hover:bg-gradient-to-t from-violet-600 to-purple-800 group">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                            </svg>
                            <span class="ml-3" sidebar-toggle-item>Settings</span>
                        </a>
                    </li>

                    {% else %}
                    <li>
                        <a href="{% url 'dashboard_user' %}"
                            class="flex items-center p-2 text-white rounded-lg hover:bg-gradient-to-t from-violet-600 to-purple-800 group">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                            </svg>
                            <span class="ml-3" sidebar-toggle-item>Users</span>
                        </a>
                    </li>


                    <li>
                        <a href="{% url 'dashboard_list_cards' %}"
                            class="flex items-center p-2 text-white rounded-lg hover:bg-gradient-to-t from-violet-600 to-purple-800 group">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                            </svg>
                            <span class="ml-3" sidebar-toggle-item>Cards</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'dashboard_list_coins' %}"
                            class="flex items-center p-2 text-white rounded-lg hover:bg-gradient-to-t from-violet-600 to-purple-800 group">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                            </svg>
                            <span class="ml-3" sidebar-toggle-item>Bitcoin and Ethereum</span>
                        </a>
                    </li>

                    <li>
                        <a href=""
                            class="flex items-center p-2 text-white rounded-lg hover:bg-gradient-to-t from-violet-600 to-purple-800 group">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                            </svg>
                            <span class="ml-3" sidebar-toggle-item>Payments</span>
                        </a>
                    </li>
                    {% endif %}


                    <li>
                        <a href=""
                            class="flex items-center p-2 text-white rounded-lg hover:bg-gradient-to-t from-violet-600 to-purple-800 group">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                            </svg>
                            <span class="ml-3" sidebar-toggle-item>Transactions</span>
                        </a>
                    </li>

                    <li class="order-last">
                        <a href="{% url 'account_logout' %}"
                            class="flex items-center p-2 text-white rounded-lg hover:bg-gradient-to-t from-violet-600 to-purple-800 group">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                            </svg>
                            <span class="ml-3" sidebar-toggle-item>Logout</span>
                        </a>
                    </li>
                    
                </ul>
                
            </div>
        </div>

    </div>
</aside>