{% extends './base.html' %}


{% block inner-content %}
<section class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-2 2xl:grid-cols-3">

  <div class="flex justify-between items-center col-span-full">
    <h3 class="font-bold mb-1  text-2xl">Cards</h3>

    <div class="space-x-4 flex ">
      <!-- search -->
      <form action="/search" method="GET" class="hidden lg:block lg:pl-3.5">
        <label for="topbar-search" class="sr-only">Search</label>
        <div class="relative mt-1 lg:w-[15rem]">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
          <input type="text" name="email" id="topbar-search"
            class="bg-transparent border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2.5"
            placeholder="Search cards">
        </div>
      </form>

      <a href="{% url 'dashboard_create_card' %}" class="inline-block rounded-full px-10 p-2 bg bg-gradient-to-t from-violet-600 to-purple-800 text-white">
        Add Card
      </a>
    </div>
  </div>

  <div class="items-center justify-between p-4 border border-gray-200 rounded-lg shadow-sm sm:flex sm:p-6 col-span-full">
    <div class="max-w-xl mx-auto">
      <form method="post" enctype="multipart/form-data" class="space-y-2">
        {% csrf_token %}
        {{form.as_p}}
        <button class="inline-block rounded-full px-10 p-2 bg bg-gradient-to-t from-violet-600 to-purple-800 text-white mx-auto"  type="submit">Add Card</button>
      </form>
    </div>
  </div>


</section>


{% endblock %}